 @media screen and (max-width: 1366px) {

 	#video iframe{
	height: 780px;
}
   

 .logo {
    width: 15%;
    
}

.menu_item li {
  
    font-size: 0.8em;
  
}

.menu_item ul{
	padding: 0;
   }

.ph_num {

    width: 20%;
   
}


.ph_num h3 {
    font-size: 1.5em;
}

h1 {
    color: white;
    font-size: 6em;
    margin-bottom: 0;
}

.main_text h2 {
    
    font-size: 4em;
    
}

.main_text span {
    color: white;
    display: block;
    font-size: 1.5em;
}

.call_back a {
    
    padding: 2% 7%;
    
}

.blocks {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.blocks:nth-child(2) img{
    width: 100%;
}

.first h3 {
    font-size: 2em;
    color: #3e3e3e;
    margin-top: 0;
    vertical-align: top;
}

.first img {
    display: inline-block;
    width: 22%;
}

.mid_text {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 0 0 0 0;
    width: 75%;
}

.card {
    display: inline-block;
    width: 18%;
}

#stars h2 {
    font-size: 3em;
    font-weight: bold;
}

.rodrigez strong {
    font-size: 5em;
    color: #d8d5d5;
}

.rodrigez p {
    font-size: 1.2em;
 
}

.check {
    
    bottom: 5%;
    left: 46%;
}

#stars {
 
    padding: 4% 2%;
    height: 846px;
}

.info {
    width: 23%;
   
    padding: 0 4%;
}

.down {
   
    font-size: 3em;
}
}




@media screen and (max-width: 1024px) {
.menu_item li {
    font-size: 0.6em;
}

.ph_num h3 {
    font-size: 1em;
}

.rgba {
    height: 560px;
    background: rgba(0,0,0,0.5);
}

.main_text h2 {
    font-size: 3em;
}

h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 0;
}

.call_back a {
    padding: 2% 7%;
    font-size: 2em;
}

.mid h2 {
    display: inline-block;
    color: #404040;
    padding: 5% 0% 0 0;
    font-size: 2.5em;
}

.rodrigez p {
    font-size: 1em;
}

}

@media screen and (max-width: 768px) {

	.logo1{
		display: block;
	}

.menu{
	display: none;
}

.sub{
	display: block;
}

.main_middle{
	display: none;
}

.mob-menu {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 41%;
    display: inline-block;
}

.sub .main_middle {
    padding: 0% 3%;
    text-align: right;
    font-family: 'Merriweather', serif;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.sub {
    display: block;
    margin-top: 23%;
}

.logo1 {
    width: 45%;
    display: inline-block;
}
h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}

.main_text h2 {
    font-size: 2em;
}

.main_text span {
    color: white;
    display: block;
    font-size: 1em;
}

.call_back a {
    color: white;
    text-decoration: none;
    background: #47b940;
    padding: 2% 5%;
    border-radius: 36px;
    font-size: 2em;
    box-shadow: 0 11px 20px rgba(156, 156, 156, 0.5);
}

.down {
    font-size: 2em;
}

.mid h2 {
    display: inline-block;
    color: #404040;
    padding: 5% 0% 0 0;
    font-size: 2em;
}

.first h3 {
    font-size: 1em;
    color: #3e3e3e;
    margin-top: 0;
    vertical-align: top;
}

.first p{
    font-size: 0.9em;
}

#check h2 {
    font-size: 2.5em;
    margin-bottom: 0;
    padding: 5% 0 0 0;
}

#check span {
    display: block;
    color: #191919;
    font-size: 2em;
}

.card {
    display: inline-block;
    width: 20%;
}

.card img{
    width: 100%;
}

.card h3 {
    font-size: 1em;
}

#stars h2 {
    font-size: 2em;
    font-weight: bold;
}

.rodrigez strong {
  display: none;
}

.rodrigez p {
    font-size: 1.2em;
    line-height: 1.3;
}

.rodrigez img {
    width: 41%;
    border-radius: 50%;
    border: 3px solid #17b517;
}

.check {
    bottom: 7%;
    left: 44%;
}


#stars {
    padding: 4% 2%;
    height: 777px;
}

#stars input[name="left"] {
    
    margin-top: 28%;
}


#stars input[name="right"] {
    
    margin-top: 28%;
}

#video iframe{
	height:500px;
}

.info {
    width: 24%;
    padding: 0 3%;
    text-align: center;
}

.info:nth-child(1){
	text-align: left;
}

#footer {
    text-align: center;
    padding: 4% 2%;
}


#header {
    background: url(img/fon1.jpg) no-repeat;
    background-size: 137%;
    text-align: center;
    background-position-x: 105%;
    height: 576px;
}

.rgba{
	height: 576px;
}
}








@media screen and (max-width: 375px) {

#header {
    background: url(img/fon1.jpg) no-repeat;
    background-size: 325%;
    text-align: center;
    padding: 0;
    background-position-x: 71%;
    height: 667px;
}




.sub .main_middle {
    padding: 24% 0% 0 5%;
    text-align: left;
    font-family: 'Merriweather', serif;
    width: 94%;
    display: inline-block;
    vertical-align: baseline;
}


.call_back a {
    color: white;
    text-decoration: none;
    background: #47b940;
    padding: 2% 5%;
    border-radius: 36px;
    font-size: 1.3em;
    box-shadow: 0 11px 20px rgba(156, 156, 156, 0.5);
}

.link li {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    padding: 0 1%;
}

.down {
    font-size: 2em;
    margin-top: 4%;
}

.sub {
    display: block;
    
}

.mob-menu li{
	font-size: 0.8em;
	width: 100%;
}


.logo1 {
    width: 30%;
}

.mob-menu {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 95%;
    display: block;
}

.rgba{
	height: 667px;
}

.blocks {
    display: inline-block;
    width: 96%;
    vertical-align: middle;
}

#check h2 {
    font-size: 2em;
    margin-bottom: 0;
    padding: 5% 0 0 0;
}

.card {
    text-align: center;
    display: inline-block;
    width: 34%;
}

#stars h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.slider {
    position: relative;
    display: inline-block;
    width: 78%;
}

#stars input[name="left"] {
    background: url(img/left.png) no-repeat;
    background-size: 100%;
    position: relative;
    float: left;
    width: 6vw;
    height: 6vw;
}


#stars input[name="right"] {
    background: url(img/left.png) no-repeat;
    background-size: 100%;
    position: relative;
    float: right;
    width: 6vw;
    height: 6vw;
}


.rodrigez h4 {
    margin: 0;
    font-size: 1.4em;
}

.check {
    bottom: 7%;
    left: 36%;
}

#video iframe {
    height: 331px;
}

.info {
    width: 90%;
    padding: 0 3%;
    text-align: center;
}


}

@media screen and (max-width: 414px) {
#header {
    background: url(img/fon1.jpg) no-repeat;
    background-size: 325%;
    text-align: center;
    height: 736px;
    background-position-x: 70%;
}

.rgba{
	height: 736px;
}


.mob-menu {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 100%;
    display: inline-block;
}

.mob-menu li {
    padding: 2%;
    border: 1px solid white;
    border-radius: 25px;
    margin: 2% 0;
    width: 95%;
}



.sub .main_middle {
    padding: 7% 5%;
    text-align: left;
    font-family: 'Merriweather', serif;
    width: 93%;
    display: inline-block;
    vertical-align: top;
}

h1 {
    color: white;
    font-size: 4em;
    margin: 0;
}

.main_text h2 {
    font-size: 3em;
}

.logo1 {
    width: 63%;
}

.mid h2 {
    display: inline-block;
    color: #404040;
    padding: 5% 0% 0 0;
    font-size: 1.5em;
}

.blocks {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.card {
    display: inline-block;
    width: 45%;
}

.slider {
    position: relative;
    display: inline-block;
    width: 78%;
}


#stars input[name="left"] {
    background: url(img/left.png) no-repeat;
    background-size: 100%;
    position: relative;
    float: left;
    width: 6vw;
    height: 6vw;
}


#stars input[name="right"] {
    background: url(img/left.png) no-repeat;
    background-size: 100%;
    position: relative;
    float: right;
    width: 6vw;
    height: 6vw;
}

.rodrigez p {
    font-size: 1em;
    line-height: 1.3;
}

.check {
    bottom: 7%;
    left: 39%;
}

.info {
    width: 94%;
    padding: 0 3%;
    text-align: center;
}

.info img {
    width: 100%;
    display: inline-block;
}

#video iframe {
    height: 379px;
}
}



@media screen and (max-width: 320px) {

#header{
	height: 568px;
	background-size: 325%;
	}

.sub {
    display: block;
    margin-top: 0%;
}

	.mid h2 {
    display: inline-block;
    color: #404040;
    padding: 5% 0% 0 0;
    font-size: 1.2em;
}

.check input{
    width: 12%;
}

.check {
    bottom: 10px;
    width: 28%;
}

.rgba {
    height: 568px;
}

.down {
    font-size: 2em;
    margin-top: 0%;
}

.card {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.rodrigez p {
    font-size: 0.8em;
    line-height: 1.3;
}

#stars {
    padding: 4% 2%;
    height: 568px;
}

.check {
    bottom: 11%;
    width: 28%;
}

.info img {
    width: 95%;
    display: block;
}


h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}

.main_text h2 {
    font-size: 2em;
}

}
